@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

circle {
  fill: transparent;
  stroke: white;
  stroke-width: 13;
  transform-origin: 50% 50%;
  stroke-dasharray: 283;
  stroke-dashoffset: 100;
}
